.user-page-wrapper {
  margin-top: 40px;
  .user-page {
    width: 1200px;
    min-height: 600px;
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
    .header {
      padding: 12px 20px;
      background-color: #fff;
      border-radius: 8px;
    }
    .body {
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .avatar {
        img {
          display: block;
          width: 160px;
          height: 160px;
          border-radius: 100%;
        }
      }
      .user-form {
        width: 500px;
        margin-top: 20px;
      }
    }
  }
}
